@model IndexViewModel.ExperienceViewModel

<section id="experience" class="bg-light">
    <div class="container">
        <h1 class="display-4">Experience</h1>
        @foreach (var experience in Model.Experiences)
        {
            <div class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <p class="h5"><a href="@experience.CompanyUrl" target="_blank">@experience.CompanyName</a></p>
                        </div>
                        <div class="col-12">
                            @experience.JobTitle
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text">@experience.CompanyInfo</p>
                    <ul>
                        @foreach (var lineItem in experience.LineItems)
                        {
                            <li>@lineItem</li>
                        }
                    </ul>
                </div>
                <div class="card-footer">
                    @experience.GetTimeAtJobString()
                </div>
            </div>
        }
    </div>
</section>